.venv/
__pycache__/
*.pyc

class_finance.db
class_finance.db.backup

uploads/receipts/*

.env
.env.*

!.env.example
app.py.save
create_admin.py

*.sqlite_backup
*.py.sqlite_backup
migrate_sqlite_to_postgres.py
